@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Yellowtail&display=swap');

body { 
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    display: flex;


}

.home {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.in-flex {
    flex: 1;
    min-width: 300px;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    overflow-x: hidden;

}

.in-flex:first-child {
    flex: 2;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;

}

.in-flex div {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;

}


h4 {
    font-family: "Roboto";
    font-size: 1.5em;
    text-align: left;
    display: flex;
    margin: 0;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

a {

}


#Logo {
    border-radius:8em;
    display:flex;
    justify-content: center;
    flex-direction: column;

    /*
    margin: auto;
    position: relative;
    display: flex;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15em;*/
    
}
/*h1 {
    font-family: "yellowtail";
    margin: auto;
    text-align: center;
    font-size: 5em;
} */

h2 {
    font-family: "yellowtail";
    text-align: center;
    font-size: 4em;
    color: #ffe3ce;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

h3 {
    font-family: "roboto";
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #Ea0c78;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
}



#semipermanentes {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url("Semi2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position:top;
    margin: 0;
    padding-top: 7.5em;  
    padding-bottom: 7.5em;  
    display: flex;
    justify-content: center;
   
}


#kapping {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8)), url("Kapping.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 7.5em;  
    padding-bottom: 7.5em;  
    margin: 0;
    display: flex;
    justify-content: center;
  
}

#nailart {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url("NailArt.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 7.5em;  
    padding-bottom: 7.5em;  
    margin: 0;
    display: flex;
    justify-content: center;
   
}

#esculpidas {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url("Esculpidas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;  
    padding-top: 7.5em;  
    padding-bottom: 7.5em;  
    justify-content: center;

}

#softgel {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url("Kapping.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 7.5em;  
    padding-bottom: 7.5em;  
    display: flex;
    justify-content: center;

}


#sobremi{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url("sobremi.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: center;

    padding: 15em;
    display: flex;  
 
}


/*#semipermanentes:after, #esculpidas:after, #kapping:after, #nailart:after, #softgel:after {
transform-origin: right bottom;
transform: skew(3deg, 3deg);
}*/

.content {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    position:relative;
    display:flex;

    color: white;
    font: "Roboto";
    font-size: 1.9em;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

